# Librerias

In [1]:
import pandas as pd
import numpy as np
import sklearn
import re
import unicodedata
import os

In [2]:
os.chdir(r"/home/jest/Documents/personal/sistemas inteligentes/proyecto/segunda entrega")

# Funciones

In [3]:
def elimina_tildes(s):
    "Elimina tildes y espacio y deja todo formateado en guion bajo"
    s      = re.sub(r'[\W_]+', '_', s).lower().strip('_').strip()
    result = ''.join((c for c in unicodedata.normalize('NFD', s) if unicodedata.category(c) != 'Mn'))
    return result

# Variables Globales

In [4]:
path_name = 'dataset/SB11_20202.txt'
path_name_model = 'dataset/datos_para_modelo.csv'

## 1. Carga del dataset

In [5]:
%%time
df = pd.read_csv(path_name, '¬', engine='python')
df.columns = [elimina_tildes(x) for x in df.columns.tolist()]

/home/jest/anaconda3/envs/javeriana_tf/lib/python3.9/site-packages/IPython/core/magics/execution.py:1316: FutureWarning: In a future version of pandas all arguments of read_csv except for the argument 'filepath_or_buffer' will be keyword-only.
  exec(code, glob, local_ns)

CPU times: user 23.1 s, sys: 1.08 s, total: 24.1 s
Wall time: 24.1 s

## 2. Revisión general del Dataset

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397124 entries, 0 to 397123
Data columns (total 81 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   estu_tipodocumento             397124 non-null  object
 1   estu_nacionalidad              397124 non-null  object
 2   estu_genero                    397119 non-null  object
 3   estu_fechanacimiento           397124 non-null  object
 4   periodo                        397124 non-null  int64
 5   estu_consecutivo               397124 non-null  object
 6   estu_estudiante                397124 non-null  object
 7   estu_pais_reside               397124 non-null  object
 8   estu_tieneetnia                394806 non-null  object
 9   estu_depto_reside              397122 non-null  object
 10  estu_cod_reside_depto          397122 non-null  float64
 11  estu_mcpio_reside              397122 non-null  object
 12  estu_cod_reside_mcpio          397122 non-null  float64
 13  fami_estratovivienda           383807 non-null  object
 14  fami_personashogar             385212 non-null  object
 15  fami_cuartoshogar              384697 non-null  object
 16  fami_educacionpadre            386936 non-null  object
 17  fami_educacionmadre            386559 non-null  object
 18  fami_trabajolaborpadre         381612 non-null  object
 19  fami_trabajolabormadre         383336 non-null  object
 20  fami_tieneinternet             386401 non-null  object
 21  fami_tieneserviciotv           384995 non-null  object
 22  fami_tienecomputador           381234 non-null  object
 23  fami_tienelavadora             384393 non-null  object
 24  fami_tienehornomicroogas       383662 non-null  object
 25  fami_tieneautomovil            383194 non-null  object
 26  fami_tienemotocicleta          383732 non-null  object
 27  fami_tieneconsolavideojuegos   383452 non-null  object
 28  fami_numlibros                 386276 non-null  object
 29  fami_comelechederivados        386460 non-null  object
 30  fami_comecarnepescadohuevo     385119 non-null  object
 31  fami_comecerealfrutoslegumbre  381201 non-null  object
 32  fami_situacioneconomica        384337 non-null  object
 33  estu_dedicacionlecturadiaria   385745 non-null  object
 34  estu_dedicacioninternet        385648 non-null  object
 35  estu_horassemanatrabaja        383803 non-null  object
 36  estu_tiporemuneracion          383294 non-null  object
 37  cole_codigo_icfes              397123 non-null  float64
 38  cole_cod_dane_establecimiento  397123 non-null  float64
 39  cole_nombre_establecimiento    397123 non-null  object
 40  cole_genero                    397123 non-null  object
 41  cole_naturaleza                397123 non-null  object
 42  cole_calendario                397123 non-null  object
 43  cole_bilingue                  331794 non-null  object
 44  cole_caracter                  385938 non-null  object
 45  cole_cod_dane_sede             397123 non-null  float64
 46  cole_nombre_sede               397123 non-null  object
 47  cole_sede_principal            397123 non-null  object
 48  cole_area_ubicacion            397123 non-null  object
 49  cole_jornada                   397123 non-null  object
 50  cole_cod_mcpio_ubicacion       397123 non-null  float64
 51  cole_mcpio_ubicacion           397123 non-null  object
 52  cole_cod_depto_ubicacion       397123 non-null  float64
 53  cole_depto_ubicacion           397123 non-null  object
 54  estu_privado_libertad          397123 non-null  object
 55  estu_cod_mcpio_presentacion    396976 non-null  float64
 56  estu_mcpio_presentacion        396976 non-null  object
 57  estu_depto_presentacion        396976 non-null  object
 58  estu_cod_depto_presentacion    396976 non-null  float64
 59  punt_lectura_critica           397123 non-null  float64
 60  percentil_lectura_critica      397123 non-null  float64
 61  desemp_lectura_critica         397123 non-null  float64
 62  punt_matematicas               397123 non-null  float64
 63  percentil_matematicas          397123 non-null  float64
 64  desemp_matematicas             397123 non-null  float64
 65  punt_c_naturales               397123 non-null  float64
 66  percentil_c_naturales          397123 non-null  float64
 67  desemp_c_naturales             397123 non-null  float64
 68  punt_sociales_ciudadanas       397123 non-null  float64
 69  percentil_sociales_ciudadanas  397123 non-null  float64
 70  desemp_sociales_ciudadanas     397123 non-null  float64
 71  punt_ingles                    396863 non-null  float64
 72  percentil_ingles               397123 non-null  float64
 73  desemp_ingles                  397123 non-null  object
 74  punt_global                    397123 non-null  float64
 75  percentil_global               397123 non-null  float64
 76  estu_inse_individual           386191 non-null  float64
 77  estu_nse_individual            386191 non-null  float64
 78  estu_nse_establecimiento       397086 non-null  float64
 79  estu_estadoinvestigacion       397123 non-null  object
 80  estu_generacion_e              397123 non-null  object
dtypes: float64(28), int64(1), object(52)
memory usage: 245.4+ MB

## 3. Limpieza general del dataset

In [7]:
# Revisión de variables general 
for column_ in df.columns.tolist():
    print('-'*100)
    print(df.groupby(column_).agg(count_ = (column_, 'count')).reset_index().sort_values('count_', ascending=False).head(10))
    print('-'*100)
del column_

----------------------------------------------------------------------------------------------------
  estu_tipodocumento  count_
9                 TI  325409
0                 CC   65444
2                 CR    3857
3                NES    1168
1                 CE     853
7                PEP     322
6                 PE      54
8                 RC      11
4               NUIP       2
5                 PC       2
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
   estu_nacionalidad  count_
9           COLOMBIA  394624
41         VENEZUELA    2311
20    ESTADOS UNIDOS      42
15           ECUADOR      30
18            ESPAÑA      22
13              CUBA       8
5             BRASIL       7
32            PANAMÁ       7
34              PERÚ       7
2          ARGENTINA       6
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
  estu_genero  count_
0           F  217644
1           M  179475
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
     estu_fechanacimiento  count_
6578           23/09/2003     750
2549           09/09/2003     728
6852           24/09/2003     673
3188           11/11/2003     661
5146           18/09/2003     659
3137           11/09/2003     657
3421           12/09/2003     650
2931           10/12/2003     648
825            03/10/2003     645
1441           05/11/2003     642
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
   periodo  count_
0    20204  397124
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
        estu_consecutivo  count_
0       SB11202040000013       1
264782  SB11202040370477       1
264756  SB11202040370433       1
264755  SB11202040370432       1
264754  SB11202040370431       1
264753  SB11202040370430       1
264752  SB11202040370428       1
264751  SB11202040370427       1
264750  SB11202040370426       1
264749  SB11202040370425       1
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
  estu_estudiante  count_
0      ESTUDIANTE  397124
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
   estu_pais_reside  count_
9          COLOMBIA  394624
41        VENEZUELA    2311
20   ESTADOS UNIDOS      42
15          ECUADOR      30
18           ESPAÑA      22
13             CUBA       8
5            BRASIL       7
32           PANAMÁ       7
34             PERÚ       7
2         ARGENTINA       6
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
  estu_tieneetnia  count_
0              No  369704
1              Si   25102
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
   estu_depto_reside  count_
4             BOGOTÁ   60986
1          ANTIOQUIA   55380
31             VALLE   27931
14      CUNDINAMARCA   26458
3          ATLANTICO   22563
5            BOLIVAR   19106
28         SANTANDER   18686
13           CORDOBA   15256
30            TOLIMA   12377
22            NARIÑO   12191
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
    estu_cod_reside_depto  count_
2                    11.0   60986
0                     5.0   55380
23                   76.0   27931
10                   25.0   26458
1                     8.0   22563
3                    13.0   19106
20                   68.0   18686
9                    23.0   15256
22                   73.0   12377
16                   52.0   12191
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
       estu_mcpio_reside  count_
99           BOGOTÁ D.C.   60986
512             MEDELLÍN   21521
128                 CALI   11788
82          BARRANQUILLA   11544
149  CARTAGENA DE INDIAS   10134
249               CÚCUTA    6164
858               SOACHA    6016
399               IBAGUÉ    5612
865              SOLEDAD    4954
106          BUCARAMANGA    4853
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
      estu_cod_reside_mcpio  count_
148                 11001.0   60986
0                    5001.0   21521
1005                76001.0   11788
125                  8001.0   11544
149                 13001.0   10134
779                 54001.0    6164
543                 25754.0    6016
958                 73001.0    5612
144                  8758.0    4954
845                 68001.0    4853
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
  fami_estratovivienda  count_
1            Estrato 2  143310
0            Estrato 1  120068
2            Estrato 3   81612
3            Estrato 4   18539
6          Sin Estrato   12275
4            Estrato 5    5580
5            Estrato 6    2423
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
  fami_personashogar  count_
1              3 a 4  188772
2              5 a 6  122307
3              7 a 8   32388
0              1 a 2   28880
4            9 o más   12865
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
  fami_cuartoshogar  count_
4              Tres  148913
2               Dos  134580
1            Cuatro   52943
5               Uno   19819
0             Cinco   18123
3        Seis o mas   10319
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
                     fami_educacionpadre  count_
8     Secundaria (Bachillerato) completa   94684
7                    Primaria incompleta   72393
9   Secundaria (Bachillerato) incompleta   51431
0         Educación profesional completa   36818
6                      Primaria completa   36154
10        Técnica o tecnológica completa   25864
4                                No sabe   23466
2                                Ninguno   16372
11      Técnica o tecnológica incompleta    8080
1       Educación profesional incompleta    8038
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
                     fami_educacionmadre  count_
8     Secundaria (Bachillerato) completa  108327
7                    Primaria incompleta   56148
9   Secundaria (Bachillerato) incompleta   53548
0         Educación profesional completa   44280
10        Técnica o tecnológica completa   39651
6                      Primaria completa   36181
11      Técnica o tecnológica incompleta   12004
1       Educación profesional incompleta    9908
2                                Ninguno    9696
5                              Postgrado    8916
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
                               fami_trabajolaborpadre  count_
2   Es dueño de un negocio pequeño (tiene pocos em...   68518
0                 Es agricultor, pesquero o jornalero   52818
12  Trabaja por cuenta propia (por ejemplo plomero...   44870
3   Es operario de máquinas o conduce vehículos (t...   37314
5                                             No sabe   35321
10  Trabaja como profesional (por ejemplo médico, ...   29550
9   Trabaja como personal de limpieza, mantenimien...   26023
11          Trabaja en el hogar, no trabaja o estudia   25303
4        Es vendedor o trabaja en atención al público   24147
8   Tiene un trabajo de tipo auxiliar administrati...   16991
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
                               fami_trabajolabormadre  count_
10          Trabaja en el hogar, no trabaja o estudia  147804
2   Es dueño de un negocio pequeño (tiene pocos em...   57931
8   Trabaja como personal de limpieza, mantenimien...   32081
9   Trabaja como profesional (por ejemplo médico, ...   31742
4        Es vendedor o trabaja en atención al público   30375
7   Tiene un trabajo de tipo auxiliar administrati...   30027
11  Trabaja por cuenta propia (por ejemplo plomero...   13726
0                 Es agricultor, pesquero o jornalero   12600
5                                             No sabe   10573
1   Es dueño de un negocio grande, tiene un cargo ...    7516
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
  fami_tieneinternet  count_
1                 Si  269702
0                 No  116699
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
  fami_tieneserviciotv  count_
1                   Si  287632
0                   No   97363
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
  fami_tienecomputador  count_
1                   Si  230863
0                   No  150371
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
  fami_tienelavadora  count_
1                 Si  300335
0                 No   84058
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
  fami_tienehornomicroogas  count_
0                       No  202396
1                       Si  181266
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
  fami_tieneautomovil  count_
0                  No  283510
1                  Si   99684
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
  fami_tienemotocicleta  count_
0                    No  216616
1                    Si  167116
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
  fami_tieneconsolavideojuegos  count_
0                           No  300564
1                           Si   82888
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
      fami_numlibros  count_
0      0 A 10 LIBROS  162505
1     11 A 25 LIBROS  119518
2    26 A 100 LIBROS   79327
3  MÁS DE 100 LIBROS   24926
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
        fami_comelechederivados  count_
0        1 o 2 veces por semana  135620
3   Todos o casi todos los días  111570
1        3 a 5 veces por semana  101479
2  Nunca o rara vez comemos eso   37791
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
     fami_comecarnepescadohuevo  count_
3   Todos o casi todos los días  153347
1        3 a 5 veces por semana  119111
0        1 o 2 veces por semana   95546
2  Nunca o rara vez comemos eso   17115
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
  fami_comecerealfrutoslegumbre  count_
0        1 o 2 veces por semana  153356
1        3 a 5 veces por semana  111818
2  Nunca o rara vez comemos eso   58141
3   Todos o casi todos los días   57886
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
  fami_situacioneconomica  count_
0                   Igual  229430
2                    Peor   85792
1                   Mejor   69115
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
  estu_dedicacionlecturadiaria  count_
0           30 minutos o menos  149068
2        Entre 30 y 60 minutos  104192
4   No leo por entretenimiento   75226
1            Entre 1 y 2 horas   40076
3               Más de 2 horas   17183
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
  estu_dedicacioninternet  count_
1       Entre 1 y 3 horas  118619
3          Más de 3 horas  105856
2   Entre 30 y 60 minutos   86184
0      30 minutos o menos   52280
4      No Navega Internet   22709
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
  estu_horassemanatrabaja  count_
0                       0  231331
3       Menos de 10 horas   74950
1     Entre 11 y 20 horas   40052
4         Más de 30 horas   20509
2     Entre 21 y 30 horas   16961
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
       estu_tiporemuneracion  count_
0                         No  255659
1            Si, en efectivo  111204
3             Si, en especie    8976
2  Si, en efectivo y especie    7455
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
       cole_codigo_icfes  count_
11709           732610.0     554
11265           724211.0     491
30                 638.0     419
11435           726141.0     397
6861            164590.0     363
2509             67652.0     318
11541           727487.0     316
916              23366.0     302
12402           740506.0     283
197               4754.0     255
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
      cole_cod_dane_establecimiento  count_
3124                   1.760018e+11     665
134                    1.050010e+11     554
2                      1.050010e+11     491
7806                   3.130010e+11     453
426                    1.056150e+11     446
6596                   3.050010e+11     419
860                    1.110010e+11     416
9836                   4.050010e+11     406
3082                   1.760010e+11     397
299                    1.051540e+11     385
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
                         cole_nombre_establecimiento  count_
7248  INSTITUCION EDUCATIVA FRANCISCO JOSE DE CALDAS     700
7497              INSTITUCION EDUCATIVA LLANO VERDE      665
5086                         IE JORGE ELIECER GAITAN     624
5107                           IE JOSE MARIA CORDOBA     605
5882           INST EDUC INEM JOSE FELIX DE RESTREPO     554
3854                       I.E. JORGE ELIECER GAITAN     500
5802                                  INST EDUC CEFA     491
5540                                IE SIMON BOLIVAR     467
4184                                   I.E. SAN JOSE     457
1190                    COL. MILITAR ALMIRANTE COLON     453
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
  cole_genero  count_
2       MIXTO  383930
0    FEMENINO   10022
1   MASCULINO    3171
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
  cole_naturaleza  count_
1         OFICIAL  307603
0      NO OFICIAL   89520
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
  cole_calendario  count_
0               A  395405
2            OTRO    1416
1               B     302
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
  cole_bilingue  count_
0             N  327687
1             S    4107
----------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------
       cole_caracter  count_
0          ACADÉMICO  204202
3  TÉCNICO/ACADÉMICO  132889
2            TÉCNICO   43449
1          NO APLICA    5398
----------------------------------------------------------------------------------------------------

In [8]:
# Variables para filtro sobre registros
row_filters = [('estu_nacionalidad',  'COLOMBIA'),
               ('estu_tipodocumento',  'TI'),
               ('cole_area_ubicacion','URBANO'),
               ('cole_calendario',  'A'),
               ('cole_naturaleza',  'OFICIAL'),
               ('cole_jornada','MAÑANA')]

In [9]:
print(f'Población inicial: {df.shape[0]}.')
for i in row_filters:
    aux = df.groupby(i[0]).agg(count_ = (i[0], 'count'))
    aux = aux.reset_index().sort_values('count_', ascending=False).head(10)
    print(aux)
    df = df.loc[df[i[0]] == i[1]]
    del aux
    print(f'Total registros con el filtro {i}: {df.shape[0]} registros')
    print('-'*50)
df = df.dropna()
print(f'Despues de no considerar registros con valores nulos, tenemos {df.shape[0]} registros')

Población inicial: 397124.
   estu_nacionalidad  count_
9           COLOMBIA  394624
41         VENEZUELA    2311
20    ESTADOS UNIDOS      42
15           ECUADOR      30
18            ESPAÑA      22
13              CUBA       8
5             BRASIL       7
32            PANAMÁ       7
34              PERÚ       7
2          ARGENTINA       6
Total registros con el filtro ('estu_nacionalidad', 'COLOMBIA'): 394624 registros
--------------------------------------------------
   estu_tipodocumento  count_
9                  TI  325019
0                  CC   65318
2                  CR    3850
3                 NES     223
1                  CE     158
7                 PEP      33
8                  RC      11
6                  PE       7
4                NUIP       2
10                  V       2
Total registros con el filtro ('estu_tipodocumento', 'TI'): 325019 registros
--------------------------------------------------
  cole_area_ubicacion  count_
1              URBANO  272757
0               RURAL   52261
Total registros con el filtro ('cole_area_ubicacion', 'URBANO'): 272757 registros
--------------------------------------------------
  cole_calendario  count_
0               A  271921
2            OTRO     666
1               B     170
Total registros con el filtro ('cole_calendario', 'A'): 271921 registros
--------------------------------------------------
  cole_naturaleza  count_
1         OFICIAL  201537
0      NO OFICIAL   70384
Total registros con el filtro ('cole_naturaleza', 'OFICIAL'): 201537 registros
--------------------------------------------------
  cole_jornada  count_
1       MAÑANA   87799
5        UNICA   70826
4        TARDE   26878
0     COMPLETA    8671
2        NOCHE    4729
3     SABATINA    2634
Total registros con el filtro ('cole_jornada', 'MAÑANA'): 87799 registros
--------------------------------------------------
Despues de no considerar registros con valores nulos, tenemos 69881 registros

# 4. Preparando Dataset para tablero de selección de muestra.

In [10]:
select_columns = ['estu_genero', 'estu_tieneetnia', 'estu_depto_reside', 'estu_mcpio_reside', 'fami_estratovivienda', 'fami_personashogar', 'fami_cuartoshogar', 'fami_tieneinternet', 'fami_tieneserviciotv', 'fami_tienecomputador', 'fami_tienelavadora', 'fami_tienehornomicroogas', 'fami_tieneautomovil', 'fami_tienemotocicleta', 'fami_tieneconsolavideojuegos', 'cole_bilingue']
target_column = 'punt_global'

In [11]:
# variables puntaje  para tablero
punt_variables=['punt_lectura_critica','punt_matematicas', 'punt_c_naturales',
       'punt_sociales_ciudadanas',  'punt_ingles']

In [12]:
aux = df.groupby(select_columns)
aux = aux.agg(count_ = (target_column, 'count'),
              avg_punt_global = (target_column, 'mean'),
              avg_punt_lectura_critica = ('punt_lectura_critica', 'mean'),
              avg_punt_matematicas = ('punt_matematicas', 'mean'),
              avg_punt_c_naturales = ('punt_c_naturales', 'mean'),
              avg_punt_sociales_ciudadanas = ('punt_sociales_ciudadanas', 'mean'),
              avg_punt_ingles = ('punt_ingles', 'mean'))
aux = aux.reset_index()              
print(aux.shape)
aux.head()

(55062, 23)

,estu_genero,estu_tieneetnia,estu_depto_reside,estu_mcpio_reside,fami_estratovivienda,fami_personashogar,fami_cuartoshogar,fami_tieneinternet,fami_tieneserviciotv,fami_tienecomputador,...,fami_tienemotocicleta,fami_tieneconsolavideojuegos,cole_bilingue,count_,avg_punt_global,avg_punt_lectura_critica,avg_punt_matematicas,avg_punt_c_naturales,avg_punt_sociales_ciudadanas,avg_punt_ingles
0,F,No,AMAZONAS,LETICIA,Estrato 1,1 a 2,Tres,Si,Si,No,...,Si,No,N,1,193.0,46.0,39.0,38.0,29.0,46.0
1,F,No,AMAZONAS,LETICIA,Estrato 1,3 a 4,Cuatro,No,Si,No,...,No,No,N,1,235.0,50.0,43.0,44.0,47.0,58.0
2,F,No,AMAZONAS,LETICIA,Estrato 1,3 a 4,Cuatro,Si,No,No,...,Si,No,N,1,164.0,33.0,37.0,34.0,29.0,28.0
3,F,No,AMAZONAS,LETICIA,Estrato 1,3 a 4,Dos,No,Si,No,...,Si,No,N,1,271.0,51.0,58.0,55.0,57.0,42.0
4,F,No,AMAZONAS,LETICIA,Estrato 1,3 a 4,Dos,Si,Si,No,...,Si,Si,N,1,242.0,43.0,52.0,48.0,51.0,47.0

In [13]:
aux.to_csv('dataset/icfes_dashboard.csv', sep=',')

#### Procedemos a observar el dashboard y seleccionamos la población a estudiar.

**Resultados Dashboard**
[Dashboard Icfes](https://datastudio.google.com/reporting/93b00516-aed1-440f-a4b1-58c3afdb5dc7)

Despues de analisar el tablero de control del icfes. Observamos que el departamento de Bolivar tiene las siguientes caracteristicas: 

- una mayor proporción de mujeres que de hombres.
- el 46% de la población no tiene acceso a internet. 
- El 45% de la población es estrato 1. 
- EL 70% de las familias estan compuestas por 3 a 7 personas, mientras que los hogares tienen 2 a 3 habitaciones, lo que muestra familiares que conviven en el mismo espacio y puede afectar el puntaje en el icfes. 
- Del top 5 de ciudades por cantidad de Registros, es la ciudad que presenta puntajes más bajos promedios, lo cual resalta el interes de estudiar esta población, en terminos de un indicador de desempeño.

## 5. Preparando Dataset Para Análisis de modelos.

In [14]:
df = df.assign(desempenio_cat = pd.qcut(df.punt_global, q = 3, labels = False))
def desempenio_name(x):
    if x==0:
        return 'Bajo'
    elif x==1:
        return 'Medio'
    elif x==2:
        return 'Alto'
    else:
        return 'Error'
df = df.assign(desempenio = df.desempenio_cat.apply(desempenio_name))
del desempenio_name

In [15]:
df[['punt_global', 'desempenio_cat', 'desempenio']].head()

    punt_global  desempenio_cat desempenio
4         225.0               0       Bajo
16        256.0               1      Medio
22        312.0               2       Alto
24        207.0               0       Bajo
42        265.0               1      Medio

In [16]:
print('Desempeño General para la población')
aux = df.groupby('desempenio').agg(count_ = ('desempenio', 'count'))
aux = aux.reset_index()
aux.assign(percent = aux.count_.apply(lambda x: round(x/aux.count_.sum()*100)))

Desempeño General para la población

  desempenio  count_  percent
0       Alto   22853       33
1       Bajo   23829       34
2      Medio   23199       33

In [17]:
print('Desempeño General para la población de Bolivar')
aux = df.loc[df.estu_depto_reside == 'BOLIVAR'].groupby('desempenio').agg(count_ = ('desempenio', 'count'))
aux = aux.reset_index()
aux.assign(percent = aux.count_.apply(lambda x: round(x/aux.count_.sum()*100)))

Desempeño General para la población de Bolivar

  desempenio  count_  percent
0       Alto     808       18
1       Bajo    2479       55
2      Medio    1239       27

In [18]:
df_model = df.loc[df.estu_depto_reside == 'BOLIVAR']

In [19]:
print('Selección de variables')
variables_choose = ['estu_genero', 'estu_tieneetnia', 'estu_depto_reside', 'estu_mcpio_reside', 'fami_estratovivienda', 'fami_personashogar', 'fami_cuartoshogar', 'fami_tieneinternet', 'fami_tieneserviciotv', 'fami_tienecomputador', 'fami_tienelavadora', 'fami_tienehornomicroogas', 'fami_tieneautomovil', 'fami_tienemotocicleta', 'fami_tieneconsolavideojuegos', 'cole_bilingue']
variables_choose.append('punt_global')
variables_choose.extend(['punt_lectura_critica','punt_matematicas', 'punt_c_naturales',
       'punt_sociales_ciudadanas',  'punt_ingles'])
variables_choose.append('desempenio')

Selección de variables

In [20]:
df_model = df_model[variables_choose]

In [21]:
df_model.to_csv(path_name_model, sep = '|' )